/**
 *
 * CSS variables
 *
 */
:root {
	--affr-gap: 1.875rem;
	--affr-button-color: #e02928;
	--affr-button-text-color: #fff;
	--affr-button-radius: 5px;
	--affr-button-padding: 12px;
	--affr-button-font-weight: 700;
	--affr-button-font-size: 1.25rem;
	--affr-secondary-color: #4dbc24;
	--affr-rating-color: #e02928;
	--affr-link-color: #e02928;
	--affr-negative: #e02928;
	--affr-box-bg-color: #f9f9f9;
	--affr-text-color: #000;
	--affr-tag-background-color: #000;
	--affr-tag-text-color: #fff;
}
